/* You can add global styles to this file, and also import other style files */
* {
  scroll-behavior: smooth;
}

body {
  font-family: "Cairo", sans-serif;
  font-optical-sizing: auto;
  display: flex;
  margin: 0;
  background-color: #ffffff;
}
