<div class="aboutUs" id="about">
  <h2 class="title">OUR TEAM</h2>
  <div class="content">
    <div class="card">
      <div class="image">
        <img src="assets/examples-1.jpeg" />
      </div>
      <div class="info">
        <strong class="name">
          <h2>Salma Ahmed</h2>
        </strong>
      </div>
    </div>
    <div class="card">
      <div class="image">
        <img src="assets/examples-1.jpeg" />
      </div>
      <div class="info">
        <strong class="name">
          <h2>mohamed ali</h2>
        </strong>
      </div>
    </div>
    <div class="card">
      <div class="image">
        <img src="assets/examples-1.jpeg" />
      </div>
      <div class="info">
        <strong class="name">
          <h2>Ahmed Said</h2>
        </strong>
      </div>
    </div>
  </div>
</div>
