.footer {
  background-color: rgb(87, 87, 237);
  color: #fff;
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
}

.copyright {
  font-size: 1.4em;
  font-weight: 650;
}
