<div class="aboutUs" id="contact">
  <h2 class="title">CONTACT US</h2>
  <div class="content">
    <div class="card">
      <div class="info">
        <strong class="name">
          <h2>EMAIL</h2>
          <div class="number">
            <h2>010000554546</h2>
          </div>
        </strong>
      </div>
    </div>
    <div class="card">
      <div class="info">
        <strong class="name">
          <h2>PHONE</h2>

          <div class="number">
            <h2>010000556451</h2>
          </div>
        </strong>
      </div>
    </div>
  </div>
</div>
