.aboutUs {
  background-color: #ffffff;
  padding: 20px 0 50px 0;
}

.title {
  display: flex;
  justify-content: center;
  color: #000000;
  font-size: 2.2em;
  font-weight: 800;
  margin-bottom: 30px;
}

.aboutUs .content {
  margin-top: 30px;

  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
}

.card {
  background-color: #fff;
  border: 1px solid white;
  min-height: 14em;
  width: 23em;
  overflow: hidden;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.502);

  border-radius: 10px;
  margin: 20px;
  transition: 0.07s ease;
}

.card .info strong {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #601cfc;
}

.card .info strong .number {
  display: block;
  align-items: center;
  justify-content: center;
  color: #000000;
}
.card:hover {
  transform: scale(1.1);
}
